*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#top{
    padding: 10% 0% 10% 0% ;
    text-align: center;
   
    font: bold 40px 'Open Sans';
    background-color: rgb(242,242,242);
    box-sizing: border-box;
}
