

#appheader{
    
    display: flex;
    margin: 28px 28px 10px 28px;
    
}

#appheader #c {
    color: green;
    border: solid;
    width: 20px;
    padding: 15px;
    /*margin: 12%;*/
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.c1,
.c2{
    background-color: green;
}

#pipe1,
#pipe2,
#pipe3{
    width: 50px;
    border-top: 1px solid green;
    margin: 12px 0;
    background: green;
    border-bottom: 1px solid green;
}

#pipe4{
    width: 50px;
    border-top: 1px solid green;
    margin: 12px 0;
    background: white;
    border-bottom: 1px solid green;
}

#pipe0{
    width:35px;
}
#pipe01{
    width: 15px;
}
#cn{
    margin:0 12px;
}
#appp{
    display: flex;
    margin-bottom: 28px;
}

#personalitycounter{
    text-align: right;
    margin-right: 2%;
    font: bold 14px 'open sans';
    margin-bottom: 5%;
}

#questioncontainer{

    display: flex;
    font: bold 15px 'open sans';



}

#questioncounter{
    margin-left: 5%;
}

#personalityquestion{
    margin-left: 2%;
}

label {
    margin-left: 5%;
    cursor:none;
}
input[type=radio] {
    display:none; 
    margin:10px;
}

input[type=radio] + label {
    display:inline-block;
    font: bold 15px 'open sans';
    
    padding: 4px 12px;
    width : 70%;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
}

input[type=radio]:checked + label { 
    background-image: none;
    border: none;
    background-color:#000000;
    color: #ffffff;

    border: 2px solid #ffffff;

 }

#next{
    margin: 0 40% 0 60%;
    font: bold 15px 'ROBOTO';
    color: white;
    border:solid;
    background-color: black;
    text-decoration: none;
    padding: 2.5% 8%;
}

#nexttest{

    color:blue;

}