



#starttext{
    font: bold 3em 'Open Sans';
    margin-bottom: 100px;
    
}

#taketest{
    font: bold 2em 'ROBOTO';
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 3% 10%;
    border-radius: 10px;

}