
#appheader{
    
    display: flex;
}

#appheader #c {
    color: green;
    border: solid;
    width: 20px;
    padding: 15px;
    margin: 12%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}


#p2p3{

    display: flex;

}

#career{

    color: blue;

}