<link rel="stylesheet" type="text/css" href="/css/first.css">

<div ng-controller = 'first' >
    <div class="container">
    <div id="appheader" class="row">

        <div id="c" class="col-sm c1">  </div>
        <div id="pipe1"></div>
        <div id="pipe2"></div>
        <div id="c" class="col-sm c2">  </div>
        <div id="pipe3"></div>
        <div id="pipe4"></div>
        <div id="c" class="col-sm c3">  </div>
    </div>
    </div>
    <div class="container">
      <div id="appp" class="row">
  
          <div id="cn" class="col-sm">Personality</div>
          <div id="pipe0"></div>
          <div id="pipe01"></div>
          <div id="cn" class="col-sm">Interest</div>
          <div id="pipe0"></div>
          <div id="pipe0"></div>
          <div id="cn" class="col-sm">Report</div>
      </div>
    </div>

    
    
    <div id="appbody">
    
        <form   ng-submit="nextquestion()">
    
                <div id='personalitycounter' ng-if="qcount < totalquestions">
    
                        {{qcount+1}} / {{totalquestions}}
                
                </div> 

                <div id="questioncontainer">
                     <div id="questioncounter"> Q {{qcount+1}} . </div>

                     <div id="personalityquestion"> {{currentquestion}}  </div>
               </div>
                <br> <br>

                
                  
               <input type="radio" id="r1" class="availableoptions" name="choose" ng-value="1" ng-model="choosevalue"  ng-change="addvalue()" required > 
                  <label for="r1">Disagree</label>
                  

                <br><br>

               
               <input type="radio" id="r2" class="availableoptions" name="choose" ng-value="2" ng-model="choosevalue"  ng-change="addvalue()" required >
                  <label for="r2">Slightly Disagree</label>
 
                 <br><br>

               <input type="radio" id="r3" class="availableoptions" name="choose" ng-value="3" ng-model="choosevalue"  ng-change="addvalue()" required >
                  <label for="r3">Neutral</label>
 
                 <br><br>

               <input type="radio" id="r4" class="availableoptions" name="choose" ng-value="4" ng-model="choosevalue"  ng-change="addvalue()" required >
                 <label for="r4">Slightly Agree</label>
 
                 <br><br>

               <input type="radio" id="r5" class="availableoptions" name="choose" ng-value="5" ng-model="choosevalue"  ng-change="addvalue()" required >
                  <label for="r5">Agree</label>

                <br><br>

                <input type="submit" value="NEXT" ng-if="qcount < totalquestions" id="next" >
    
    
        </form>
    
        <br><br>

        <a href="#!/second"><button ng-if='qcount >= totalquestions' id="nexttest"> End personality Test </button> </a>
    
    </div>
    
</div>